body { 
    background-color: white;
    margin: 0;
}

.shipping-div {
    background-color: black;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-text { 
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    transform: scaley(0.9);
}

.nav-div {
    background-color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.nav-div-nav{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-div-nav ul { 
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-div-nav li { 
    margin-right: 40px;
}

.nav-div-nav-text{ 
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    transform: scaleY(0.9);
    display: inline-block;
}

.nav-div-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 18px;
    width: auto;
}

.bg-div {
    height: 90vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.newarrivals-div {
    display: flex;
    flex-direction: column;
}

.newarrivals-div-text {
    height: 60px;
    background-color: aqua;
}

.newarrivals-div-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.newarrivals-div-grid-item { 
    height: 200px;
    border-top: solid 1px black;
    border-right: solid 1px black;
}