body { 
    background-color: white;
    margin: 0;
}

.shipping-div {
    background-color: black;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-text { 
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    transform: scaley(0.9);
}

.nav-div {
    background-color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.nav-div-nav{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-div-nav ul { 
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-div-nav li { 
    margin-right: 40px;
}

.nav-div-nav-text{ 
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    transform: scaleY(0.9);
    display: inline-block;
}

.nav-div-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 18px;
    width: auto;
}

.bg-div {
    height: 90vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.newarrivals-div {
    display: flex;
    flex-direction: column;
}

.newarrivals-div-text {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    border-top: solid 1px black;
}

.newarribals-div-text-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transform: scaleY(0.9);
    font-size: 22px;
    margin-left: 50px;
}

.newarrivals-div-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.newarrivals-div-grid-item { 
    height: 750px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.newarrivals-div-grid-item-tag { 
    height: 10%;
    width: 100%;
}

.newarrivals-div-grid-item-tag-text {
    border: solid 1px black;
    padding: 0;
    margin: 20px;
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newarrivals-div-grid-item-tag-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transform: scaleY(0.9);
    font-size: 12px;
}

.newarrivals-div-grid-item-image {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newarrivals-div-grid-item-image img {
    width: 95%;
}

.newarrivals-div-grid-item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newarrivals-div-grid-item-desc-name { 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transform: scaleY(0.9);
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.newarrivals-div-grid-item-desc-price { 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transform: scaleY(0.9);
    font-size: 12px;
    color: grey;
    margin: 0;
    padding: 0;
}

.hbt-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 1000px;
}

.hoodie-div {
    height: 1000px;
    width: 33,33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.hoodie-div img {
    height: 100%;
    width: 100%;
}

.bottom-div {
    height: 1000px;
    width: 33,33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.bottom-div img {
    height: 100%;
    width: 100%;
}

.tee-div {
    height: 1000px;
    width: 33,33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.tee-div img {
    height: 100%;
    width: 100%;
}

.hbt-div-cont {
    background-color: white;
    width: 100px;
    height: 30px;
    margin: 0;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hbt-div-cont p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    transform: scaleY(0.9);
    font-size: 15px;
}

.shopthelook-slider-div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 600px;
}

.shopthelook-slider-div-item { 
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopthelook-slider-div-item img {
    height: 100%;
    width: auto;
    transition: transform 0.2s ease-in-out;
    transform-origin: bottom;
    transform: scaleY(1);
}

.shopthelook-slider-div-item img:hover {
    transform: scale(1.1);
    
}